
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #BD1550;
  border-top: 10px solid #8a0f3a;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

h1, p {
  font-size: 80%;
}

a {
  color: white;
}

.confetti {
  background-color: #490A3D;
  border: 5px solid #5a0d4c;
  color: #F8CA00;
  padding: 5px 10px;
}

footer {
  position: absolute;
  left:0;
  padding: 0 30px;
  bottom: 0;
  height: 100px;
  width: 100%;
}
footer p{
  float:left;
  width: 100%;
} 

@media screen and (max-width: 600px){
  h1{
    float:left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  footer{
    padding: 0;
  }
  footer p{
    text-align: center;
  }
}
